<div class="container">
    <h1>Characters</h1>
    <div class="character-info">
        <img [src]="character?.image" alt="{{character?.name}}">
        <h2>{{character?.name}}</h2>
        <p><strong>Status:</strong> {{character?.status}}</p>
        <p><strong>Species:</strong> {{character?.species}}</p>
        <p><strong>Gender:</strong> {{character?.gender}}</p>
        <p><strong>Origin:</strong> {{character?.origin?.name}}</p>
        <p><strong>Location:</strong> {{character?.location?.name}}</p>
        <p><strong>Created:</strong> {{character?.created | date}}</p>
    </div>
    <button (click)="goBack()">Atrás</button>
</div>